.App-header.about {
	background-color: #545871;
}

.Service {
}

.App-logo {
	z-index: 1;
	top: 37px;
}

.App-logo2 {
	position: relative;
	right: 20rem;
	bottom: 9.5rem;
}

.App-logo3 {
	position: relative;
	top: 18rem;
}

.btn {
	z-index: 1;
	bottom: 20px;
}
