.App-header {
	min-height: 100vh;
	display: cover;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-logoImg {
	margin-top: -1800px;
	margin-left: -769px;
}

.App-Nav {
	margin-top: -958px;
	z-index: 1;
	margin-left: 1000px;
}

.App-logo {
	z-index: -99;
}
